.Batch {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.Batch .paper {
  margin-top: 40px;
  padding: 10px;
  text-align: left;
}

.studentsContainer {
  display: flex;
  width: calc(100% + 40px);
  flex-direction: row;
  flex-wrap: wrap;
  /* margin:0; */

}

.studentItem {
  width: 300px;
  margin-right: 40px;
  flex-shrink: 0;
  flex-grow: 1;
}

.studentItem .profileImage {
  height: 160px;
  margin: -10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.RandomStudentButton {
  margin-top: 40px;
}

h3 {
  margin: 20px;
}
