.batchForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  /* min-width: 60px; */
  flex-grow: 1;
  margin-right: 20px;
}

.paperForm {
  padding: 40px 20px 40px 40px !important;
}

.buttonWrapper {
  width: 100%;
  margin-top: 40px;
  margin-right: 20px
}
